@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
/* 공통영역 */
.inner {
  position: relative;
  width: 1180px;
  margin: auto;
  background-color: #cea14e;
}
/* 전체 */
/* 상단 */
header {
  width: 100%;
  background-color: black;
}
.header > .inner {
  height: 120px;
  background-color: antiquewhite;
}
/* 상단위 */
.headr-top {
  height: 60px;
  background-color: rgb(64, 149, 223);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.util {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  /* 
  gap: 20px;
  padding-top: 20px;
   */
  /* padding: 20px; */
  /*
   그냥 패딩을 하면 좌우 위아래 모두 뜸  
   패딩이 아니라 플랙스를 주어도 됌
    */
}
.util > li > a {
  font: 13px/1 "arial";
  /* 
  인라인??
  display: inline-block;
  을 하지 않아도..됌 왜그렇지??
ㅠㅠ 인라인 블럭은 a가 인라인이고
블럭성질을 가지지 않을때 한다. 
블럭성질이 없으면 부피?? 를 차지하지 않아서..

  */
}
/* 상단아래 */

.header-bt {
  padding: 0;
  height: 60px;
  background-color: rgb(214, 236, 255);
  display: flex;
  justify-content: space-between;
}
.gnb {
  display: flex;
  text-align: center;
  width: 800px;
  font-weight: bold;
  background-color: orange;
}
.gnb > li {
  width: calc(100% / 5);
}
.gnb > li a {
  /* width: 100%; */
  line-height: 60px;
  display: block;
}
.gnb > li > a:hover {
  background-color: #333;
  color: white;
}
/* 비주얼 */
figure {
  position: relative;
  width: 100%;
  height: calc(100vh - 120px);
  background-color: #333;
  padding-top: 250px;
}
/* 비지오를 이미지로 고침 근데안댐 ㅎㅎ수정해야. */
figure > .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  /* 비디오 아래에 이미지처럼 남아서 없애려고 디스플레이블락을 씀 */
  opacity: 0.3;
  /*
   비디오를 앱솔루트안주면 이 피겨 공간에 밑에쌓임
   글자랑 비디오를 곂쳐야 하기 때문에 비디오에 앱솔울 한것
  앱솔로 단독으로 잡는것 리고 이너를 너대로 오라 해서 띄운거??

  */
}
figure .inner h2 {
  font: 120px/1 "arial";
  color: white;
  margin-bottom: 20px;
}
figure .inner p {
  font: 16px/1 "arial";
  color: white;
  margin-bottom: 60px;
}
figure .inner a {
  display: block;
  text-align: center;
  width: 400px;
  border: 1px solid wheat;
  font: bold 30px/1 "arial";
  color: white;
}
figure .inner a:hover {
  background-color: #bbb;
  color: #333;
}
/* 뉴스 */
section {
  padding: 200px;
}
section h2 {
  text-align: center;
  margin: 50px;
  font: bold 24px/1 "areal";
}
.section_wrap ul {
  display: flex;

  gap: 30px;
}
/* .section_wrap il li {
width: 0;
} */
.pic {
  position: relative;
  height: 200px;
  overflow: hidden;
}
.pic img {
  width: 100%;
}
/* 하단 */
.footer {
  background-color: #333;
  padding: 100px 0;
}
.upper {
  display: flex;
  gap:20px ;
  align-items: center;
  border-bottom:  1px solid #777;
  padding-bottom: 30px;
}
.upper ul {
  display: flex;
  gap: 20px;
}
.upper h2{
font: bold 24px/1 "arial";
font:  1px solid #777;;
}
.upper ul li a{
font: bold 16px/1 "arial";
font:  1px solid #888;;
}
.lower{
  margin-top: 20px;

}
.lower address{
  font: 24px/1.3 "areal";
  color: #777;
  margin-bottom: 20px;
}